<?php exit('Access Denied');?>
<!--{if ($post[adminid] != 0 || $post[usergroup] == 20 || $post[usergroup] == 24 || $post[usergroup] == 31 || $post[usergroup] == 44 || $post[usergroup] == 45 || $post[usergroup] == 46)}-->
<a href="plugin.php?id=tsdmtitle:tsdmtitle&action=shop" target="_blank">
    <!--{if $post[credits] < 4}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']使者.gif" />
    <!--{elseif $post[credits] < 100}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']使者.gif" />
    <!--{elseif $post[credits] < 300}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']片翼天使.gif" />
    <!--{elseif $post[credits] < 650}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']水天使.gif" />
    <!--{elseif $post[credits] < 1000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']昼天使.gif" />
    <!--{elseif $post[credits] < 1500}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']雨天使.gif" />
    <!--{elseif $post[credits] < 2100}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']霞天使.gif" />
    <!--{elseif $post[credits] < 2800}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']音乐天使.gif" />
    <!--{elseif $post[credits] < 3500}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']无机.gif" />
    <!--{elseif $post[credits] < 4300}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']堕落天使.gif" />
    <!--{elseif $post[credits] < 5100}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']暗翼.gif" />
    <!--{elseif $post[credits] < 5900}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']电子天使.gif" />
    <!--{elseif $post[credits] < 6700}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']虐杀天使2.gif" />
    <!--{elseif $post[credits] < 7700}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']彩虹天使.gif" />
    <!--{elseif $post[credits] < 9000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']贵族天使.gif" />
    <!--{elseif $post[credits] < 10000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']守护1.gif" />
    <!--{elseif $post[credits] < 15000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']守护2.gif" />
    <!--{elseif $post[credits] < 21000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']曙光天使.gif" />
	<!--{elseif $post[credits] < 28000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']华焰天使.gif" />
    <!--{elseif $post[credits] < 36000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']白夜天使.gif" />
    <!--{elseif $post[credits] < 45000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']七曜天使.gif" />
	<!--{elseif $post[credits] < 55000}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']初梦天使.gif" />
	<!--{else}--><img class="tsdm_lv_title" src="$_G['config']['tsdm']['grouplogourl']永恒天使.gif" />
    <!--{/if}-->
    </a>
<!--{/if}-->