<?php exit('Access Denied');?>
<b>
<!--{if $post[posts]<50}-->
<font color="#CCC">见习天使</font>
<!--{elseif $post[posts]<200}-->
<font color="Orange">LEVEL 1 断罪</font>
<!--{elseif $post[posts]<700}-->
<font color="Lime">LEVEL 2 升华</font>
<!--{elseif $post[posts]<1500}-->
<font color="SeaGree">LEVEL 3 POWER</font>
<!--{elseif $post[posts]<2500}-->
<font color="Cyan">LEVEL 4 睿智</font>
<!--{elseif $post[posts]<3600}-->
<font color="Blue">LEVEL 5 美德</font>
<!--{elseif $post[posts]<4800}-->
<font color="Yellow">LEVEL 6 圣洁</font>
<!--{elseif $post[posts]<5900}-->
<font color="Magenta">LEVEL 7 调停者</font>
<!--{elseif $post[posts]<8000}-->
<font color="Red">LEVEL 8 执行者</font>
<!--{else}-->
<font color="Red">LEVEL 9 造物者</font>
<!--{/if}-->
</b>
<br />